<?xml version="1.0" encoding="UTF-8"?>

<configuration status="info">
    <appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%xEx%n"/>
        </Console>
        <File name="debug-log" fileName="logs/debug.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level - %msg%xEx%n"/>
        </File>
        <File name="trace-log" fileName="logs/trace.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level - %msg%xEx%n"/>
        </File>
        <File name="error-log" fileName="logs/error.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level - %msg%xEx%n"/>
        </File>
    </appenders>
    <loggers>
        <root level="debug">
            <appender-ref ref="console-log"/>
        </root>
        <Logger name="holiday.web" level="debug" additivity="true">
            <appender-ref ref="debug-log" level="debug"/>
            <appender-ref ref="trace-log" level="info"/>
            <appender-ref ref="error-log" level="error"/>
        </Logger>
    </loggers>
</configuration>