<p *ngIf="!isloggedin; else authcheckblock ">{{notloggederrormessage}}</p>
<ng-template #authcheckblock>
  <p *ngIf="role.indexOf('ROLE_ADMIN')==-1; else successBlock">{{unautherrormessage}}</p>
</ng-template>

<ng-template #successBlock>
  <div class="container" *ngIf="this.errorMessage">
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Oh snap!</strong> <a href="/" class="alert-link">Change a few things up</a> and try submitting again.
    </div>
  </div>
  <div *ngIf="!this.errorMessage && transactions?.length > 0" class="container">
    <table class="table table-striped table-hover ">
      <thead>
      <tr>
        <th>Transaction Date</th>
        <th>Name</th>
        <th>Email</th>
        <th>Order Details</th>
        <th>
          <button (click)="downloadTransactions()"><img src="../../../../assets/images/download-sign.png"
                                                        alt="Download Order Details"
                                                        width="40px" height="25px"></button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="warning" *ngFor="let transaction of transactions; let idx = index">
        <td>{{transaction?.checkoutOrder?.dateTime}}</td>
        <td>{{transaction.fname}} {{transaction.lname}}</td>
        <td>{{transaction.email}}</td>
        <td>
          <button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal" data-backdrop="static"
                  (click)="setindex(idx)">Order Detail
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="transactions?.length == 0">{{norecordfoundsmessage}}</div>
  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Order Detail</h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped table-hover ">
            <thead>
            <tr>
              <th>Country</th>
              <th>State</th>
              <th>City</th>
              <th>Range</th>
              <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr class="warning" *ngFor="let item of transactions[this.index]?.checkoutOrder?.item">
              <td *ngIf="item">{{item.country}}</td>
              <td *ngIf="item.state != 'State'">{{item.state}}</td>
              <td *ngIf="item.state == 'State'">No state Selected</td>
              <td *ngIf="item.city != 'City'">{{item.city}}</td>
              <td *ngIf="item.city == 'City'">No city selected</td>
              <td>{{item.fromMonth}}/{{item.fromDay}}/{{item.fromYear}}&nbsp;-&nbsp;{{item.toMonth}}/{{item.toDay}}/{{item.toYear}}</td>
              <td></td>
            </tr>
            <tr class="info">
              <td></td>
              <td></td>
              <td></td>
              <td>Total:</td>
              <td>{{transactions[this.index]?.checkoutOrder.total | currency}}</td>
            </tr>
            </tbody>
          </table>
          <div>
            <div *ngIf="this.refundMessage && !this.refundSuccess; else refundsuccesscheck" class="alert alert-danger"
                 role="alert">
              {{refundMessage}}
            </div>
            <ng-template #refundsuccesscheck>
              <div *ngIf="this.refundMessage && this.refundSuccess" class="alert alert-success" role="alert">
                {{refundMessage}}
              </div>
            </ng-template>
            <button type="button" class="btn btn-info "
                    (click)="refundTransaction(transactions[this.index]?.checkoutOrder?.orderId, transactions[this.index]?.checkoutOrder?.total)">
              Refund transaction
            </button>
            <input type="number" name="amount" [(ngModel)]="refundAmount" #amount="ngModel"/>
            <div *ngIf="this.refundResponse.refundAmount!=0">
              <h2 class="text-center">Refund Timeline</h2>
              <table class="table table-striped table-hover ">
                <thead>
                <tr>
                  <th>Date</th>
                  <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr class="warning" *ngFor="let item of transactions[this.index]?.refunds">-->
                  <td *ngIf="this.refundResponse.refundDate">{{this.refundResponse.refundDate}}</td>
                  <td *ngIf="this.refundResponse.refundAmount">{{this.refundResponse.refundAmount | currency}}</td>
                <!--</tr>-->
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</ng-template>
